body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-fluid{
	justify-content:  end !important;
	padding-left: 30% !important;
}

.navbar-nav {
	display: contents !important; 
}

.navbar{
	padding: 0.5rem 0rem !important;
}
li{
	margin-right: 10px;
}
#search{
	align-items: center;
	display: grid;
}
#inputform{
	width: 500px;
}
.form-check{
	margin: 30px;
	display: inline !important;
	padding-left: 3% !important;
}
.btn{
	margin-right: 50px;
	margin-left: 25px;
}
#side{
	margin-bottom: 10px;
}
#gen{
	height: 500px;
	background: ghostwhite;
}
.output{
	font-size: 23px;
	font-family: initial;
}
.output1{
	font-size: 20px;
	font-family: initial;
	font-style: italic;
}
.output2{
	padding: 5px;
}
.container{
	padding-left: 0px !important;
}