body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-fluid{
	justify-content:  end !important;
	padding-left: 5px !important;
}

.navbar-nav {
	display: contents !important; 
}

.navbar{
	padding: 0.5rem 0rem !important;
}
li{
	margin-right: 10px;
}
#search{
	align-items: center;
	display: grid;
}
#searchInput{
	max-width: 65%;	
	display: inline-block;
	height: 35px;
	font-size: 15px;
}
#dbpedia{
	margin-left: 10px;
	margin-top: 10px;
}
#formLabel{
	font-weight: 400;
	margin-left: 27px;
	font-size: 13px;
}
.form-check{
	margin: 5px;
	display: inline !important;
	padding-left: 3% !important;
}
.glyphicon-search{
	margin-left: 10px;
	font-size: 21px;
	top: 5px;
}
.bi-download{
	font-size: 25px;
	margin-left: 10px;
	margin-bottom: 3px;
}
.btn{
	margin-left: 18px;
}
btn1 {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}
#gen{
	min-height: 300px;
	background: ghostwhite;
}
.output{
	font-size: 23px;
	font-family: initial;
}
.output1{
	font-size: 20px;
	font-family: initial;
	font-style: italic;
}
.output2{
	padding: 5px;
}
.container{
	padding-left: 0px !important;
	font-style: italic;
}
.navbar{
	background-color: #ffffff;
	border: none;
	margin-bottom: 0px;
}
.navbar-inverse{
	background-color: #ffffff;
	border: none;
}
#similaritems{
	font-size: medium;
}